# .gitignore

# projectspecific
*.orig
lastcommit.js
*.log
/resources/public/js/compiled/[a-z]*
/logs

# Java build artifacts
/lib
/pom.xml*
*jar
*.class

# Clojure build artifacts
/classes
/target
/checkouts
/.lein-*

# Editor artifacts
.nrepl-port
*~

## Other
# silly Mac filesystem
*.DS_Store*
*._*
