# .gitignore

# Java build artifacts
/lib
/pom.xml*
*jar
*.class

# Clojure build artifacts
/classes
/target
/checkouts
/.lein-*

# Editor artifacts
.nrepl-port
*~

## Other
# silly Mac filesystem
*.DS_Store*
*._*
